.home .logo {
  max-width: 220px;
}

@media (max-width: 767px) {
  .home .hero h1 {
    font-size: 3.5em;
  }
  .home .hero h2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .home .hero h1 {
    font-size: 5.5em;
  }
  .home .hero h2 {
    font-size: 3em;
  }
}

.home .hero .svg {
  color: var(--color-primary);
  height: 40px;
  width: 50px;
  vertical-align: bottom;
}

.home .hero.header {
  font-size: 20px;
}

.home p.large {
  font-size: 16px;
}

.home .stackable {
  padding-top: 30px;
}

.home a {
  color: var(--color-primary);
}

.page-footer {
  display: flex;
  background-color: var(--color-footer);
  border-top: 1px solid var(--color-secondary);
  line-height: 39px;
  padding: 0 20px;
}

.page-footer .left-links {
  flex: 1;
}

.page-footer .right-links {
  min-width: 180px; /* make sure the menu dropdown doesn't overflow horizontally when language name is short */
}

.page-footer .right-links > a {
  border-left: 1px solid var(--color-secondary-dark-1);
  padding-left: 8px;
  margin-left: 5px;
}

.page-footer .ui.dropdown.language .menu {
  height: 500px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  margin-bottom: 10px;
}

@media (max-width: 880px) {
  .page-footer {
    display: block;
    text-align: center;
  }
}
