.repository .data-table .line-num,
.repository .diff-file-box .file-body.file-code .lines-num,
.repository .diff-file-box .code-diff tbody tr .lines-type-marker,
.repository .repository-summary .segment.language-stats {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.repository .repo-header .ui.compact.menu {
  margin-left: 1rem;
}

.repository .repo-header .ui.header {
  margin-top: 0;
}

.repository .repo-header .fork-flag {
  font-size: 12px;
  margin-top: 2px;
}

.repository .repo-header .repo-buttons .svg {
  margin: 0 0.42857143em 0 -0.21428571em;
}

.repository .repo-header .button {
  margin-top: 2px;
  margin-bottom: 2px;
}

.repository .tabs .navbar {
  justify-content: initial;
}

.repository .navbar {
  display: flex;
  justify-content: space-between;
}

.repository .navbar .ui.label {
  margin-left: 7px;
  padding: 3px 5px;
}

.repository .owner.dropdown {
  min-width: 40% !important;
}

.repository .unicode-escaped .escaped-code-point[data-escaped]::before {
  visibility: visible;
  content: attr(data-escaped);
  font-family: var(--fonts-monospace);
  color: var(--color-red);
}

.repository .unicode-escaped .escaped-code-point .char {
  display: none;
}

.repository .broken-code-point {
  font-family: var(--fonts-monospace);
  color: var(--color-blue);
}

.repository .unicode-escaped .ambiguous-code-point {
  border: 1px var(--color-yellow) solid;
}

.repository .metas .menu {
  overflow-x: auto;
  max-height: 500px;
}

.repository .metas .ui.list.assignees .item {
  line-height: 2.5em;
}

.repository .metas .ui.list.assignees .teamavatar {
  margin-top: 0.125rem;
  margin-left: 6.75px;
  margin-right: 8.75px;
}

.repository .metas .ui.list .dependency {
  padding: 0;
  white-space: nowrap;
}

.repository .metas .ui.list .title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .repository .metas .ui.list .title {
    max-width: 150px;
  }
}

@media (max-width: 1000px) {
  .repository .metas .ui.list .title {
    max-width: 100px;
  }
}

.repository .metas #deadlineForm input {
  width: 12.8rem;
  border-radius: 4px 0 0 4px;
  border-right: 0;
  white-space: nowrap;
}

.repository .header-wrapper {
  background-color: var(--color-navbar);
}

.repository .header-wrapper .ui.tabs.divider {
  border-bottom: 0;
}

.repository .header-wrapper .ui.tabular .svg {
  margin-right: 5px;
}

.repository .filter.menu.labels .label-filter .menu .info {
  display: inline-block;
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid var(--color-secondary);
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.repository .filter.menu.labels .label-filter .menu .info code {
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  padding: 1px 2px;
  font-size: 11px;
}

/* make all issue filter dropdown menus popup leftward, to avoid go out the viewport (right side) */
.repository .filter.menu .ui.dropdown .menu {
  max-height: 500px;
  max-width: 300px;
  overflow-x: hidden;
  right: 0;
  left: auto;
}

/* the label-filter is the first dropdown, it shouldn't be shown leftward, otherwise it may go out the viewport (left side) */
.repository .filter.menu .ui.dropdown.label-filter .menu {
  right: unset;
  left: 0;
}

.repository .select-label .desc {
  padding-left: 23px;
}

/* For the secondary pointing menu, respect its own border-bottom */
/* style reference: https://semantic-ui.com/collections/menu.html#pointing */
.repository .ui.tabs.container .ui.menu:not(.secondary.pointing) {
  border-bottom: 0;
}

.repository .ui.tabs.divider {
  margin-top: -1px;
  margin-bottom: 12px;
}

.repository #clone-panel #repo-clone-url {
  width: 320px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .repository #clone-panel #repo-clone-url {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .repository #clone-panel #repo-clone-url {
    width: 200px;
  }
}

.repository #clone-panel #repo-clone-https,
.repository #clone-panel #repo-clone-ssh {
  border-right: none;
}

.repository #clone-panel #more-btn {
  border-left: none;
}

.repository #clone-panel button:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

.repository #clone-panel button:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.repository #clone-panel .dropdown .menu {
  right: 0 !important;
  left: auto !important;
}

.repository.file.list .repo-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repository.file.list #repo-desc {
  font-size: 1.2em;
}

.repository.file.list .repo-path {
  word-break: break-word;
}

.repository.file.list #repo-files-table {
  table-layout: fixed;
}

.repository.file.list #repo-files-table thead th {
  padding-top: 8px;
  padding-bottom: 5px;
  font-weight: normal;
}

.repository.file.list #repo-files-table thead .ui.avatar {
  margin-bottom: 5px;
}

.repository.file.list #repo-files-table tbody .svg {
  margin-left: 3px;
  margin-right: 5px;
}

.repository.file.list #repo-files-table tbody .svg.octicon-reply {
  margin-right: 10px;
}

.repository.file.list #repo-files-table tbody .svg.octicon-file-directory-fill,
.repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
  color: var(--color-primary);
}

.repository.file.list #repo-files-table tbody .svg.octicon-file,
.repository.file.list #repo-files-table tbody .svg.octicon-file-symlink-file {
  color: var(--color-secondary-dark-7);
}

.repository.file.list #repo-files-table td {
  padding-top: 0;
  padding-bottom: 0;
  overflow: initial;
}

.repository.file.list #repo-files-table td.name {
  width: 33%;
  max-width: calc(100vw - 140px);
}

@media (min-width: 1201px) {
  .repository.file.list #repo-files-table td.name {
    max-width: 150px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .repository.file.list #repo-files-table td.name {
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .repository.file.list #repo-files-table td.name {
    max-width: 300px;
  }
}

.repository.file.list #repo-files-table td.message {
  color: var(--color-text-light-1);
  width: 66%;
}

@media (min-width: 1201px) {
  .repository.file.list #repo-files-table td.message {
    max-width: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .repository.file.list #repo-files-table td.message {
    max-width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .repository.file.list #repo-files-table td.message {
    max-width: 250px;
  }
}

.repository.file.list #repo-files-table td.age {
  width: 120px;
  color: var(--color-text-light-1);
}

.repository.file.list #repo-files-table td .truncate {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.repository.file.list #repo-files-table td a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.repository.file.list #repo-files-table td .at {
  margin-left: 3px;
  margin-right: 3px;
}

.repository.file.list #repo-files-table td > * {
  vertical-align: middle;
}

.repository.file.list #repo-files-table td.message .isSigned {
  cursor: default;
}

.repository.file.list #repo-files-table tr:last-of-type td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.repository.file.list #repo-files-table tr:last-of-type td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.repository.file.list #repo-files-table tr:hover {
  background-color: var(--color-hover);
}

.repository.file.list #repo-files-table tr.has-parent a {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  width: calc(100% - 1.25rem);
}

.repository.file.list .non-diff-file-content .header .icon {
  font-size: 1em;
}

.repository.file.list .non-diff-file-content .header .small.icon {
  font-size: 0.75em;
}

.repository.file.list .non-diff-file-content .header .tiny.icon {
  font-size: 0.5em;
}

.repository.file.list .non-diff-file-content .header .file-actions .btn-octicon {
  line-height: 1;
  padding: 10px 8px;
  vertical-align: middle;
  color: var(--color-text);
}

.repository.file.list .non-diff-file-content .header .file-actions .btn-octicon:hover {
  color: var(--color-primary);
}

.repository.file.list .non-diff-file-content .header .file-actions .btn-octicon-danger:hover {
  color: var(--color-red);
}

.repository.file.list .non-diff-file-content .header .file-actions .btn-octicon.disabled {
  color: inherit;
  opacity: var(--opacity-disabled);
  cursor: default;
}

.repository.file.list .non-diff-file-content .view-raw {
  padding: 5px;
}

.repository.file.list .non-diff-file-content .view-raw > * {
  max-width: 100%;
  border: 1px solid var(--color-secondary);
}

.repository.file.list .non-diff-file-content .view-raw img {
  margin: 1rem 0;
  border-radius: 0;
  object-fit: contain;
}

.repository.file.list .non-diff-file-content .view-raw img[src$=".svg" i] {
  max-height: 600px !important;
  max-width: 600px !important;
}

.repository.file.list .non-diff-file-content .plain-text {
  padding: 1em 2em;
}

.repository.file.list .non-diff-file-content .plain-text pre {
  word-break: break-word;
  white-space: pre-wrap;
}

.repository.file.list .non-diff-file-content .csv {
  overflow-x: auto;
  padding: 0 !important;
}

.repository.file.list .non-diff-file-content pre {
  overflow: auto;
}

.repository.file.list .non-diff-file-content .asciicast {
  padding: 5px !important;
}

.repository.file.list .sidebar {
  padding-left: 0;
}

.repository.file.list .sidebar .svg {
  width: 16px;
}

.repo-editor-header {
  width: 100%;
}

.repo-editor-header input {
  vertical-align: middle !important;
  width: auto !important;
  padding: 7px 8px !important;
  margin-right: 5px !important;
}

.repository.file.editor .tabular.menu .svg {
  margin-right: 5px;
}

.repository.file.editor .commit-form-wrapper {
  padding-left: 64px;
}

.repository.file.editor .commit-form-wrapper .commit-avatar {
  float: left;
  margin-left: -64px;
  width: 3em;
  height: auto;
}

.repository.file.editor .commit-form-wrapper .commit-form {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--color-secondary);
  background: var(--color-box-body);
  border-radius: 3px;
}

.repository.file.editor .commit-form-wrapper .commit-form::before,
.repository.file.editor .commit-form-wrapper .commit-form::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.repository.file.editor .commit-form-wrapper .commit-form::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.repository.file.editor .commit-form-wrapper .commit-form::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}

.repository.file.editor .commit-form-wrapper .commit-form .quick-pull-choice .branch-name {
  display: inline-block;
  padding: 2px 4px;
  font: 12px var(--fonts-monospace);
  color: var(--color-text);
  background: var(--color-secondary);
  border-radius: 3px;
  margin: 0 2px;
}

.repository.file.editor .commit-form-wrapper .commit-form .quick-pull-choice .new-branch-name-input {
  position: relative;
  margin-left: 25px;
}

.repository.file.editor .commit-form-wrapper .commit-form .quick-pull-choice .new-branch-name-input input {
  width: 240px !important;
  padding-left: 26px !important;
}

.repository.file.editor .commit-form-wrapper .commit-form .quick-pull-choice .octicon-git-branch {
  position: absolute;
  top: 9px;
  left: 10px;
  color: var(--color-grey);
}

.repository.options #interval {
  width: 100px !important;
  min-width: 100px;
}

.repository.options .danger .item {
  padding: 20px 15px;
}

.repository.options .danger .ui.divider {
  margin: 0;
}

.repository.new.issue .comment.form .comment .avatar {
  width: 3em;
}

.repository.new.issue .comment.form .content {
  margin-left: 4em;
}

.repository.new.issue .comment.form .content::before,
.repository.new.issue .comment.form .content::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.repository.new.issue .comment.form .content::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.repository.new.issue .comment.form .content::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}

.repository.new.issue .comment.form .content .markup {
  font-size: 14px;
}

.repository.new.issue .comment.form .metas {
  min-width: 220px;
}

.repository.new.issue .comment.form .metas .filter.menu {
  max-height: 500px;
  overflow-x: auto;
}

.repository.view.issue .instruct-toggle {
  display: inline-block;
}

.repository.view.issue .title {
  padding-bottom: 0 !important;
}

.repository.view.issue .title .issue-title {
  margin-bottom: 0.5rem;
}

.repository.view.issue .title .issue-title.edit-active {
  display: flex;
  align-items: center;
}

.repository.view.issue .title .issue-title.edit-active h1 {
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .repository.view.issue .title .issue-title.edit-active {
    flex-direction: column;
  }
  .repository.view.issue .title .issue-title.edit-active h1 {
    margin-right: 0;
    margin-bottom: 1rem;
    padding-right: 0;
  }
  .repository.view.issue .title .issue-title.edit-active h1 .ui.input input {
    width: calc(100% - 2rem);
  }
  .repository.view.issue .title .issue-title.edit-active .edit-buttons {
    padding-bottom: 1rem;
    width: 100%;
  }
  .repository.view.issue .title .issue-title.edit-active .edit-buttons .button {
    width: 100%;
    margin-right: 0.5rem;
  }
  .repository.view.issue .title .issue-title.edit-active .edit-buttons .button:last-child {
    margin-right: 0;
  }
}

.repository.view.issue .title .issue-title h1 {
  font-weight: 300;
  font-size: 2.3rem;
  margin: 0;
  padding-right: 0.5rem;
}

.repository.view.issue .title .issue-title h1 .ui.input {
  font-size: 0.5em;
  width: 100%;
}

.repository.view.issue .title .issue-title h1 .ui.input input {
  font-size: 1.5em;
  padding: 6px 1rem;
}

.repository.view.issue .title .issue-title .edit-button {
  float: right;
  padding-left: 1rem;
}

.repository.view.issue .title .issue-title .edit-buttons {
  display: flex;
}

.repository.view.issue .title .issue-title .index {
  color: var(--color-text-light-2);
}

.repository.view.issue .title .issue-title .label {
  margin-right: 10px;
}

.repository.view.issue .title .issue-title .edit-zone {
  margin-top: 10px;
}

.repository.view.issue .pull-desc code {
  color: var(--color-primary);
}

.repository.view.issue .pull-desc a[data-clipboard-text] {
  cursor: pointer;
}

.repository.view.issue .pull-desc a[data-clipboard-text] svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
  right: 1px;
}

.repository.view.issue .pull.tabular.menu {
  margin-bottom: 1rem;
}

.repository.view.issue .pull.tabular.menu .svg {
  margin-right: 5px;
}

.repository.view.issue .pull .merge.box .timeline-avatar {
  margin-top: 3px;
  margin-left: 4px;
}

.repository.view.issue .pull .merge.box .branch-update.grid .row {
  padding-bottom: 1rem;
}

.repository.view.issue .pull .merge.box .branch-update.grid .row .icon {
  margin-top: 1.1rem;
}

.repository.view.issue .pull .review-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repository.view.issue .pull .review-item .review-item-left,
.repository.view.issue .pull .review-item .review-item-right {
  display: flex;
  align-items: center;
}

.repository.view.issue .pull .review-item .text {
  margin: 0.3em 0 0.5em 0.5em;
}

.repository.view.issue .pull .review-item .type-icon {
  align-self: flex-start;
  margin-right: 1em;
}

.repository.view.issue .pull .review-item .type-icon i {
  line-height: 1.8em;
}

.repository.view.issue .pull .review-item .divider {
  margin: 0.5rem 0;
}

.repository.view.issue .pull .review-item .review-content {
  padding: 1em 0 1em 3.8em;
}

.repository.view.issue .comment-list:not(.prevent-before-timeline)::before {
  display: block;
  content: "";
  position: absolute;
  margin-top: 12px;
  margin-bottom: 14px;
  top: 0;
  bottom: 0;
  left: 96px;
  width: 2px;
  background-color: var(--color-timeline);
  z-index: -1;
}

.repository.view.issue .comment-list .timeline {
  position: relative;
  display: block;
  margin-left: 40px;
  padding-left: 16px;
}

.repository.view.issue .comment-list .timeline::before { /* ciara */
  display: block;
  content: "";
  position: absolute;
  margin-top: 12px;
  margin-bottom: 14px;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 2px;
  background-color: var(--color-timeline);
  z-index: -1;
}

.repository.view.issue .comment-list .timeline-item,
.repository.view.issue .comment-list .timeline-item-group {
  padding: 12px 0;
}

.repository.view.issue .comment-list .timeline-item-group .timeline-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.repository.view.issue .comment-list .timeline-item {
  margin-left: 16px;
  position: relative;
}

.repository.view.issue .comment-list .timeline-item .timeline-avatar {
  position: absolute;
  left: -68px;
}

.repository.view.issue .comment-list .timeline-item .timeline-avatar img {
  width: 40px !important;
  height: 40px !important;
}

/* Don't show the mobile oriented avatar ".inline-timeline-avatar" on desktop. Desktop uses the avatar with class ".timeline-avatar" */
.repository.view.issue .comment-list .timeline-item .inline-timeline-avatar {
  display: none;
}

.repository.view.issue .comment-list .timeline-item img.avatar,
.repository.view.issue .comment-list .timeline-item .avatar img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.repository.view.issue .comment-list .timeline-item:first-child:not(.commit) {
  padding-top: 0 !important;
}

.repository.view.issue .comment-list .timeline-item:last-child:not(.commit) {
  padding-bottom: 0 !important;
}

.repository.view.issue .comment-list .timeline-item .badge.badge-commit {
  border-color: transparent;
  background: radial-gradient(var(--color-body) 40%, transparent 40%) no-repeat;
}

.repository.view.issue .comment-list .timeline-item .badge {
  width: 34px;
  height: 34px;
  background-color: var(--color-timeline);
  border-radius: 50%;
  display: flex;
  float: left;
  margin-left: -33px;
  margin-right: 8px;
  color: var(--color-text);
  align-items: center;
  justify-content: center;
}

.repository.view.issue .comment-list .timeline-item .badge .svg {
  width: 22px;
  height: 22px;
  padding: 3px;
}

.repository.view.issue .comment-list .timeline-item .badge .svg.octicon-comment {
  margin-top: 2px;
}

.repository.view.issue .comment-list .timeline-item.comment > .content {
  margin-left: -16px;
}

.repository.view.issue .comment-list .timeline-item.event > .text {
  line-height: 32px;
  vertical-align: middle;
}

.repository.view.issue .comment-list .timeline-item.commits-list {
  padding-left: 15px;
  padding-top: 0;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit {
  line-height: 34px; /* this must be same as .badge height, to avoid overflow */
  clear: both; /* reset the "float right shabox", in the future, use flexbox instead */
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit > img.avatar,
.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit > .avatar img {
  position: relative;
  top: -2px;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label {
  margin: 0;
  border: 1px solid var(--color-light-border);
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isWarning {
  border: 1px solid var(--color-red-badge);
  background: var(--color-red-badge-bg);
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isWarning .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isWarning:hover {
  background: var(--color-red-badge-hover-bg) !important;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerified {
  border: 1px solid var(--color-green-badge);
  background: var(--color-green-badge-bg);
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerified .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerified:hover {
  background: var(--color-green-badge-hover-bg) !important;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUntrusted {
  border: 1px solid var(--color-yellow-badge);
  background: var(--color-yellow-badge-bg);
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUntrusted .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUntrusted:hover {
  background: var(--color-yellow-badge-hover-bg) !important;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUnmatched {
  border: 1px solid var(--color-orange-badge);
  background: var(--color-orange-badge-bg);
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUnmatched .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository.view.issue .comment-list .timeline-item.commits-list .singular-commit .shabox .sha.label.isSigned.isVerifiedUnmatched:hover {
  background: var(--color-orange-badge-hover-bg) !important;
}

.repository.view.issue .comment-list .timeline-item.event > .commit-status-link {
  float: right;
  margin-right: 8px;
  margin-top: 4px;
}

.repository.view.issue .comment-list .timeline-item .comparebox {
  line-height: 32px;
  vertical-align: middle;
}

.repository.view.issue .comment-list .timeline-item .comparebox .compare.label {
  font-size: 1rem;
  margin: 0;
  border: 1px solid var(--color-light-border);
}

@media (max-width: 767px) {
  .repository.view.issue .comment-list .timeline-item .ui.segments {
    margin-left: -2rem;
  }
}

.repository.view.issue .comment-list .ui.comments {
  max-width: 100%;
}

.repository.view.issue .comment-list .comment > .content > div:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.repository.view.issue .comment-list .comment > .content > div:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.repository.view.issue .comment-list .comment .comment-container {
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

@media (max-width: 767px) {
  .repository.view.issue .comment-list .comment .content .form .button {
    width: 100%;
    margin: 0;
  }
  .repository.view.issue .comment-list .comment .content .form .button:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.repository.view.issue .comment-list .comment .merge-section {
  background-color: var(--color-box-body);
}

.repository.view.issue .comment-list .comment .merge-section .item-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

@media (max-width: 767px) {
  .repository.view.issue .comment-list .comment .merge-section .item-section {
    align-items: flex-start;
    flex-direction: column;
  }
}

.repository.view.issue .comment-list .comment .merge-section .divider {
  margin-left: -1rem;
  margin-right: -1rem;
}

.repository.view.issue .comment-list .comment .merge-section.no-header::before,
.repository.view.issue .comment-list .comment .merge-section.no-header::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.repository.view.issue .comment-list .comment .merge-section.no-header::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.repository.view.issue .comment-list .comment .merge-section.no-header::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}

.merge-section-info code {
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  padding: 2px 4px;
  background: var(--color-light);
}

.repository.view.issue .comment-list .comment .markup {
  font-size: 14px;
}

.repository.view.issue .comment-list .comment .no-content {
  color: var(--color-text-light-2);
  font-style: italic;
}

.repository.view.issue .comment-list .comment .ui.form .field:first-child {
  clear: none;
}

.repository.view.issue .comment-list .comment .ui.form .field.footer {
  overflow: hidden;
}

.repository.view.issue .comment-list .comment .ui.form .field .tab.markup {
  min-height: 5rem;
}

.repository.view.issue .comment-list .comment .edit.buttons {
  margin-top: 10px;
}

.repository.view.issue .comment-list .code-comment {
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.repository.view.issue .comment-list .code-comment .content {
  border: none !important;
}

.repository.view.issue .comment-list .code-comment .comment-header {
  background: transparent;
  border-bottom: 0 !important;
  padding: 0 !important;
}

.repository.view.issue .comment-list .code-comment .comment-header::after,
.repository.view.issue .comment-list .code-comment .comment-header::before {
  display: none;
}

.repository.view.issue .comment-list .code-comment .comment-content {
  margin-left: 36px;
}

.repository.view.issue .comment-list .comment > .avatar {
  margin-top: 6px;
}

.repository.view.issue .comment-list .comment > .avatar ~ .content {
  margin-left: 3em;
}

.repository.view.issue .comment-list .code-comment img.avatar,
.repository.view.issue .comment-list .comment img.avatar {
  width: 28px;
  height: 28px;
}

.repository.view.issue .comment-list .comment-code-cloud .segment.reactions {
  margin-top: 16px !important;
  margin-bottom: -8px !important;
  border-top: none !important;
}

.repository.view.issue .comment-list .comment-code-cloud .segment.reactions .ui.label {
  border: 1px solid;
  padding: 6px 10px !important;
  margin: 0 2px;
  border-radius: var(--border-radius);
  border-color: var(--color-secondary-dark-1) !important;
}

.repository.view.issue .comment-list .comment-code-cloud .segment.reactions .ui.label.basic.primary {
  background-color: var(--color-reaction-active-bg) !important;
  border-color: var(--color-primary-alpha-80) !important;
}

.repository.view.issue .comment-list .comment-code-cloud button.comment-form-reply {
  margin: 0;
}

.repository.view.issue .comment-list .event {
  padding-left: 15px;
}

.repository.view.issue .comment-list .event .detail {
  margin-top: 4px;
  margin-left: 14px;
}

.repository.view.issue .comment-list .event .detail .svg {
  margin-right: 2px;
}

.repository.view.issue .comment-list .event .segments {
  box-shadow: none;
}

@media (max-width: 767px) {
  .repository.view.issue .comment-list {
    padding: 1rem 0 !important; /* Important is required here to override existing fomantic styles. */
  }
}

.repository.view.issue .ui.depending .item.is-closed .title {
  text-decoration: line-through;
}

.repository .comment.form .ui.comments {
  margin-top: -12px;
  max-width: 100%;
}

.repository .comment.form .content .field:first-child {
  clear: none;
}

.repository .comment.form .content .form::before,
.repository .comment.form .content .form::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.repository .comment.form .content .form::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.repository .comment.form .content .form::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}

.repository .milestone.list {
  list-style: none;
  padding-top: 15px;
}

.repository .milestone.list > .item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--color-secondary);
}

.repository .milestone.list > .item progress {
  width: 200px;
  height: 16px;
}

.repository .milestone.list > .item .meta {
  color: var(--color-text-light-2);
  padding-top: 5px;
}

.repository .milestone.list > .item .meta .issue-stats .svg {
  padding-left: 5px;
}

.repository .milestone.list > .item .meta .overdue {
  color: var(--color-red);
}

.repository .milestone.list > .item .operate {
  margin-top: -15px;
}

.repository .milestone.list > .item .operate > a {
  font-size: 15px;
  padding-top: 5px;
  padding-right: 10px;
  color: var(--color-text-light-2);
}

.repository .milestone.list > .item .operate > a:hover {
  color: var(--color-text);
}

.repository .milestone.list > .item .content {
  padding-top: 10px;
}

.repository.new.milestone textarea {
  height: 200px;
}

.repository.compare.pull .show-form-container {
  text-align: left;
}

.repository.compare.pull .choose.branch .svg {
  margin-right: 10px;
}

.repository.compare.pull .comment.form .content::before,
.repository.compare.pull .comment.form .content::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.repository.compare.pull .comment.form .content::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.repository.compare.pull .comment.form .content::after {
  border-right-color: var(--color-box-body);
  border-width: 8px;
  margin-top: -8px;
}

.repository.compare.pull .pullrequest-form {
  margin-bottom: 1.5rem;
}

.repository.compare.pull .markup {
  font-size: 14px;
}

.repository.compare.pull .title .issue-title {
  margin-bottom: 0.5rem;
}

.repository.compare.pull .title .issue-title .index {
  color: var(--color-text-light-2);
}

.repository .filter.dropdown .menu {
  margin-top: 1px !important;
}

.repository.branches .commit-divergence .bar-group {
  position: relative;
  float: left;
  padding-bottom: 6px;
  width: 50%;
  max-width: 90px;
}

.repository.branches .commit-divergence .bar-group:last-child {
  border-left: 1px solid var(--color-secondary-dark-2);
}

.repository.branches .commit-divergence .count {
  margin: 0 3px;
}

.repository.branches .commit-divergence .count.count-ahead {
  text-align: left;
}

.repository.branches .commit-divergence .count.count-behind {
  text-align: right;
}

.repository.branches .commit-divergence .bar {
  height: 4px;
  position: absolute;
  background-color: var(--color-secondary-dark-2);
}

.repository.branches .commit-divergence .bar.bar-behind {
  right: 0;
}

.repository.branches .commit-divergence .bar.bar-ahead {
  left: 0;
}

.repository.commits .header .search input {
  font-weight: normal;
  padding: 5px 10px;
}

.repository #commits-table thead th:first-of-type {
  padding-left: 15px;
}

.repository #commits-table thead .sha {
  width: 200px;
}

.repository #commits-table thead .shatd {
  text-align: center;
}

.repository #commits-table td.sha .sha.label {
  margin: 0;
}

.repository #commits-table td.message {
  text-overflow: unset;
}

.repository #commits-table.ui.basic.striped.table tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.repository #commits-table td.sha .sha.label,
.repository #repo-files-table .sha.label,
.repository #rev-list .sha.label,
.repository .timeline-item.commits-list .singular-commit .sha.label {
  border: 1px solid var(--color-light-border);
}

.repository #commits-table td.sha .sha.label .ui.signature.avatar,
.repository #repo-files-table .sha.label .ui.signature.avatar,
.repository #rev-list .sha.label .ui.signature.avatar,
.repository .timeline-item.commits-list .singular-commit .sha.label .ui.signature.avatar {
  height: 16px;
  margin-bottom: 0;
  width: 16px;
}

.repository #commits-table td.sha .sha.label .detail.icon,
.repository #repo-files-table .sha.label .detail.icon,
.repository #rev-list .sha.label .detail.icon,
.repository .timeline-item.commits-list .singular-commit .sha.label .detail.icon {
  background: var(--color-light);
  margin: -6px -10px -4px 0;
  padding: 5px 4px 5px 6px;
  border-left: 1px solid var(--color-light-border);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.repository #commits-table td.sha .sha.label .detail.icon img,
.repository #repo-files-table .sha.label .detail.icon img,
.repository #rev-list .sha.label .detail.icon img,
.repository .timeline-item.commits-list .singular-commit .sha.label .detail.icon img {
  margin-right: 0;
}

.repository #commits-table td.sha .sha.label .detail.icon .svg,
.repository #repo-files-table .sha.label .detail.icon .svg,
.repository #rev-list .sha.label .detail.icon .svg,
.repository .timeline-item.commits-list .singular-commit .sha.label .detail.icon .svg {
  margin: 0 0.25em 0 0;
}

.repository #commits-table td.sha .sha.label .detail.icon > div,
.repository #repo-files-table .sha.label .detail.icon > div,
.repository #rev-list .sha.label .detail.icon > div,
.repository .timeline-item.commits-list .singular-commit .sha.label .detail.icon > div {
  display: flex;
  align-items: center;
}

.repository #commits-table td.sha .sha.label.isSigned.isWarning,
.repository #repo-files-table .sha.label.isSigned.isWarning,
.repository #rev-list .sha.label.isSigned.isWarning,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isWarning {
  border: 1px solid var(--color-red-badge);
  background: var(--color-red-badge-bg);
}

.repository #commits-table td.sha .sha.label.isSigned.isWarning .shortsha,
.repository #repo-files-table .sha.label.isSigned.isWarning .shortsha,
.repository #rev-list .sha.label.isSigned.isWarning .shortsha,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isWarning .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository #commits-table td.sha .sha.label.isSigned.isWarning .detail.icon,
.repository #repo-files-table .sha.label.isSigned.isWarning .detail.icon,
.repository #rev-list .sha.label.isSigned.isWarning .detail.icon,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isWarning .detail.icon {
  border-left: 1px solid var(--color-red-badge);
  color: var(--color-red-badge);
}

.repository #commits-table td.sha .sha.label.isSigned.isWarning:hover,
.repository #repo-files-table .sha.label.isSigned.isWarning:hover,
.repository #rev-list .sha.label.isSigned.isWarning:hover,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isWarning:hover {
  background: var(--color-red-badge-hover-bg) !important;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerified,
.repository #repo-files-table .sha.label.isSigned.isVerified,
.repository #rev-list .sha.label.isSigned.isVerified,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerified {
  border: 1px solid var(--color-green-badge);
  background: var(--color-green-badge-bg);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerified .shortsha,
.repository #repo-files-table .sha.label.isSigned.isVerified .shortsha,
.repository #rev-list .sha.label.isSigned.isVerified .shortsha,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerified .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerified .detail.icon,
.repository #repo-files-table .sha.label.isSigned.isVerified .detail.icon,
.repository #rev-list .sha.label.isSigned.isVerified .detail.icon,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerified .detail.icon {
  border-left: 1px solid var(--color-green-badge);
  color: var(--color-green-badge);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerified:hover,
.repository #repo-files-table .sha.label.isSigned.isVerified:hover,
.repository #rev-list .sha.label.isSigned.isVerified:hover,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerified:hover {
  background: var(--color-green-badge-hover-bg) !important;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUntrusted,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUntrusted,
.repository #rev-list .sha.label.isSigned.isVerifiedUntrusted,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUntrusted {
  border: 1px solid var(--color-yellow-badge);
  background: var(--color-yellow-badge-bg);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUntrusted .shortsha,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUntrusted .shortsha,
.repository #rev-list .sha.label.isSigned.isVerifiedUntrusted .shortsha,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUntrusted .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUntrusted .detail.icon,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUntrusted .detail.icon,
.repository #rev-list .sha.label.isSigned.isVerifiedUntrusted .detail.icon,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUntrusted .detail.icon {
  border-left: 1px solid var(--color-yellow-badge);
  color: var(--color-yellow-badge);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUntrusted:hover,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUntrusted:hover,
.repository #rev-list .sha.label.isSigned.isVerifiedUntrusted:hover,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUntrusted:hover {
  background: var(--color-yellow-badge-hover-bg) !important;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUnmatched,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUnmatched,
.repository #rev-list .sha.label.isSigned.isVerifiedUnmatched,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUnmatched {
  border: 1px solid var(--color-orange-badge);
  background: var(--color-orange-badge-bg);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUnmatched .shortsha,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUnmatched .shortsha,
.repository #rev-list .sha.label.isSigned.isVerifiedUnmatched .shortsha,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUnmatched .shortsha {
  display: inline-block;
  padding-top: 1px;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUnmatched .detail.icon,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUnmatched .detail.icon,
.repository #rev-list .sha.label.isSigned.isVerifiedUnmatched .detail.icon,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUnmatched .detail.icon {
  border-left: 1px solid var(--color-orange-badge);
  color: var(--color-orange-badge);
}

.repository #commits-table td.sha .sha.label.isSigned.isVerifiedUnmatched:hover,
.repository #repo-files-table .sha.label.isSigned.isVerifiedUnmatched:hover,
.repository #rev-list .sha.label.isSigned.isVerifiedUnmatched:hover,
.repository .timeline-item.commits-list .singular-commit .sha.label.isSigned.isVerifiedUnmatched:hover {
  background: var(--color-orange-badge-hover-bg) !important;
}

.repository .data-table {
  width: 100%;
}

.repository .data-table tr {
  border-top: 0;
}

.repository .data-table td,
.repository .data-table th {
  padding: 5px !important;
  overflow: hidden;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  border: 1px solid var(--color-secondary);
}

.repository .data-table td {
  white-space: pre-line;
}

.repository .data-table th {
  font-weight: var(--font-weight-bold);
  background: var(--color-box-header);
  border-top: 0;
}

.repository .data-table td.added,
.repository .data-table th.added,
.repository .data-table tr.added {
  background-color: var(--color-diff-added-row-bg) !important;
}

.repository .data-table td.removed,
.repository .data-table th.removed,
.repository .data-table tr.removed {
  background-color: var(--color-diff-removed-row-bg) !important;
}

.repository .data-table td.moved,
.repository .data-table th.moved,
.repository .data-table tr.moved {
  background-color: var(--color-diff-moved-row-bg) !important;
}

.repository .data-table tbody.section {
  border-top: 2px solid var(--color-secondary);
}

.repository .data-table .line-num {
  width: 1%;
  min-width: 50px;
  font-family: monospace;
  line-height: 20px;
  color: var(--color-secondary-dark-2);
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  text-align: right;
  background: var(--color-body);
  border: 0;
}

.repository .diff-detail-box {
  padding: 7px 0;
  background: var(--color-body);
  line-height: 30px;
}

@media (max-width: 991px) {
  .repository .diff-detail-box {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .repository .diff-detail-box {
    flex-wrap: wrap;
  }
}

.repository .diff-detail-box.sticky {
  position: sticky;
  top: 0;
  z-index: 8;
  border-bottom: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -4px;
  margin-right: -4px;
}

.repository .diff-detail-box > div::after {
  clear: both;
  content: "";
  display: block;
}

.repository .diff-detail-box .diff-detail-stats strong {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/* Because the translations contain the <strong> we need to style with nth-of-type */

.repository .diff-detail-box .diff-detail-stats strong:nth-of-type(1) {
  color: var(--color-yellow);
}

.repository .diff-detail-box .diff-detail-stats strong:nth-of-type(2) {
  color: var(--color-green);
}

.repository .diff-detail-box .diff-detail-stats strong:nth-of-type(3) {
  color: var(--color-red);
}

@media (max-width: 480px) {
  .repository .diff-detail-box .diff-detail-stats {
    font-size: 0;
    line-height: 1.6rem;
  }
  .repository .diff-detail-box .diff-detail-stats strong {
    font-size: 1rem;
  }
}

.diff-detail-actions {
  /* prevent font-size from increasing element height so that .diff-detail-box comes
     out with height of 47px (one line) and 77px (two lines), which is important for
     position: sticky */
  height: 33px;
}

.repository .diff-detail-box .diff-detail-actions > * {
  margin-right: 0;
}

.repository .diff-detail-box .diff-detail-actions > * + * {
  margin-left: 0.25rem;
}

@media (max-width: 480px) {
  .repository .diff-detail-box .diff-detail-actions {
    padding-top: 0.25rem;
  }
  .repository .diff-detail-box .diff-detail-actions .ui.button:not(.btn-submit) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.repository .diff-detail-box span.status {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  vertical-align: middle;
}

.repository .diff-detail-box span.status.modify {
  background-color: var(--color-yellow);
}

.repository .diff-detail-box span.status.add {
  background-color: var(--color-green);
}

.repository .diff-detail-box span.status.del {
  background-color: var(--color-red);
}

.repository .diff-detail-box span.status.rename {
  background-color: var(--color-teal);
}

.repository .diff-detail-box .button {
  padding: 8px 12px;
}

.repository .diff-box .header:not(.resolved-placeholder) {
  display: flex;
  align-items: center;
}

.repository .diff-box .header:not(.resolved-placeholder) .file {
  min-width: 0;
}

.repository .diff-box .header:not(.resolved-placeholder) .file .file-link {
  max-width: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.repository .diff-box .header:not(.resolved-placeholder) .button {
  padding: 8px 12px;
  flex: 0 0 auto;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: 0;
}

.repository .diff-box .resolved-placeholder {
  display: flex;
  align-items: center;
}

.repository .diff-box .resolved-placeholder .button {
  padding: 8px 12px;
}

.repository .diff-file-box .header {
  background-color: var(--color-box-header);
}

.repository .diff-file-box .file-body.file-code {
  background: var(--color-code-bg);
}

.repository .diff-file-box .file-body.file-code .lines-num {
  text-align: right;
  color: var(--color-text-light);
  width: 1%;
  min-width: 50px;
}

.repository .diff-file-box .file-body.file-code .lines-num span.fold {
  display: block;
  text-align: center;
}

.repository .diff-file-box .code-diff {
  font-size: 12px;
}

.repository .diff-file-box .code-diff td {
  padding: 0 0 0 10px !important;
  border-top: 0;
}

.repository .diff-file-box .code-diff .lines-num {
  padding: 0 5px !important;
}

.repository .diff-file-box .code-diff .tag-code .lines-num,
.repository .diff-file-box .code-diff .tag-code td {
  padding: 0 !important;
}

.repository .diff-file-box .code-diff table {
  table-layout: fixed;
}

.repository .diff-file-box .code-diff tbody tr td.lines-num,
.repository .diff-file-box .code-diff tbody tr td.lines-escape,
.repository .diff-file-box .code-diff tbody tr td.lines-type-marker {
  white-space: nowrap;
}

.repository .diff-file-box .code-diff tbody tr td.center {
  text-align: center;
}

.repository .diff-file-box .code-diff tbody tr [data-line-num]::before {
  content: attr(data-line-num);
  text-align: right;
}

.repository .diff-file-box .code-diff tbody tr .lines-type-marker {
  width: 10px;
  min-width: 10px;
}

.repository .diff-file-box .code-diff tbody tr [data-type-marker]::before {
  content: attr(data-type-marker);
  text-align: right;
  display: inline-block;
}

.repository .diff-file-box .code-diff-split .tag-code .lines-code code.code-inner {
  padding-left: 10px !important;
}

.repository .diff-file-box .code-diff-split table,
.repository .diff-file-box .code-diff-split tbody {
  width: 100%;
}

.repository .diff-file-box.file-content {
  clear: right;
}

.repository .diff-file-box.file-content img {
  max-width: 100%;
  padding: 0;
  border-radius: 0;
}

.repository .diff-file-box.file-content img.emoji {
  padding: 0;
}

.repository .diff-file-box .ui.bottom.attached.table.segment {
  padding-top: 5px;
  padding-bottom: 5px;
}

.diff-file-box {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  scroll-margin-top: 47px; /* match .repository .diff-detail-box */
}

@media (max-width: 991px) {
  .diff-file-box {
    scroll-margin-top: 77px; /* match .repository .diff-detail-box */
  }
}

/* TODO: this can potentially be made "global" by removing the class prefix */
.diff-file-box .ui.attached.header,
.diff-file-box .ui.attached.table {
  margin: 0; /* remove fomantic negative margins */;
  width: initial; /* remove fomantic over 100% width */;
  max-width: initial; /* remove fomantic over 100% width */;
}

.repository .diff-stats {
  clear: both;
  margin-bottom: 5px;
  max-height: 200px;
  height: fit-content;
  overflow: auto;
  padding-left: 0;
}

.repository .diff-stats li {
  list-style: none;
  padding-bottom: 4px;
  margin-bottom: 4px;
  padding-left: 6px;
}

.repository .diff-stats li + li {
  border-top: 1px solid var(--color-secondary);
}

.repository .repo-search-result {
  padding-top: 10px;
  padding-bottom: 10px;
}

.repository .repo-search-result .lines-num a {
  color: inherit;
}

.repository.quickstart .guide .item {
  padding: 1em;
}

.repository.quickstart .guide .item small {
  font-weight: normal;
}

.repository.quickstart .guide .clone.button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.repository.quickstart .guide #repo-clone-url {
  border-radius: 0;
  padding: 5px 10px;
  font-size: 1.2em;
  line-height: 1.4;
  flex: 1
}


.repository.packages .empty {
  padding-top: 70px;
  padding-bottom: 100px;
}

.repository.packages .empty .svg {
  height: 48px;
}

.repository.packages .file-size {
  white-space: nowrap;
}

.repository.wiki.start .ui.segment {
  padding-top: 70px;
  padding-bottom: 100px;
}

.repository.wiki.start .ui.segment .svg {
  height: 48px;
}

.repository.wiki.new .ui.attached.tabular.menu.previewtabs {
  margin-bottom: 15px;
}

.file-view.markup {
  padding: 1em 2em;
}

.wiki-content-main {
  padding: 1em 2em !important;
  margin-left: 1em !important;
}

.wiki-pages-list .wiki-git-entry {
  margin-left: 10px;
  display: none;
}

.wiki-pages-list td:hover .wiki-git-entry {
  display: inline-block;
}

@media (max-width: 767px) {
  .repository.wiki .dividing.header .stackable.grid .button {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .repository.wiki #clone-panel #repo-clone-url {
    width: 160px;
  }
}

.repository.settings.collaboration .collaborator.list {
  padding: 0;
}

.repository.settings.collaboration .collaborator.list > .item {
  margin: 0;
  line-height: 2em;
}

.repository.settings.collaboration .collaborator.list > .item:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
}

.repository.settings.collaboration #repo-collab-form #search-user-box .results {
  left: 7px;
}

.repository.settings.collaboration #repo-collab-form .ui.button {
  margin-left: 5px;
  margin-top: -3px;
}

.repository.settings.collaboration #repo-collab-team-form #search-team-box .results {
  left: 7px;
}

.repository.settings.collaboration #repo-collab-team-form .ui.button {
  margin-left: 5px;
  margin-top: -3px;
}

/* if the element is for a checkbox, then it should have a padding-left to align to the checkbox's text */
.repository.settings.branches .branch-protection .ui.checkbox .help,
.repository.settings.branches .branch-protection .checkbox-sub-item {
  padding-left: 26px;
}

.repository.settings.webhook .events .column {
  padding-bottom: 0;
}

.repository.settings.webhook .events .help {
  font-size: 13px;
  margin-left: 26px;
  padding-top: 0;
}

.repository .ui.attached.isSigned.isWarning {
  border-left: 1px solid var(--color-error-border);
  border-right: 1px solid var(--color-error-border);
}

.repository .ui.attached.isSigned.isWarning.top,
.repository .ui.attached.isSigned.isWarning.message {
  border-top: 1px solid var(--color-error-border);
}

.repository .ui.attached.isSigned.isWarning.message {
  box-shadow: none;
  background-color: var(--color-error-bg);
  color: var(--color-error-text);
}

.repository .ui.attached.isSigned.isWarning.message .ui.text {
  color: var(--color-error-text);
}

.repository .ui.attached.isSigned.isWarning:last-child,
.repository .ui.attached.isSigned.isWarning.bottom {
  border-bottom: 1px solid var(--color-error-border);
}

.repository .ui.attached.isSigned.isVerified {
  border-left: 1px solid var(--color-success-border);
  border-right: 1px solid var(--color-success-border);
}

.repository .ui.attached.isSigned.isVerified.top,
.repository .ui.attached.isSigned.isVerified.message {
  border-top: 1px solid var(--color-success-border);
}

.repository .ui.attached.isSigned.isVerified.message {
  box-shadow: none;
  background-color: var(--color-success-bg);
  color: var(--color-success-text);
}

.repository .ui.attached.isSigned.isVerified.message .pull-right {
  color: var(--color-text);
}

.repository .ui.attached.isSigned.isVerified.message .ui.text {
  color: var(--color-success-text);
}

.repository .ui.attached.isSigned.isVerified:last-child,
.repository .ui.attached.isSigned.isVerified.bottom {
  border-bottom: 1px solid var(--color-success-border);
}

.repository .ui.attached.isSigned.isVerifiedUntrusted,
.repository .ui.attached.isSigned.isVerifiedUnmatched {
  border-left: 1px solid var(--color-warning-border);
  border-right: 1px solid var(--color-warning-border);
}

.repository .ui.attached.isSigned.isVerifiedUntrusted.top,
.repository .ui.attached.isSigned.isVerifiedUnmatched.top,
.repository .ui.attached.isSigned.isVerifiedUntrusted.message,
.repository .ui.attached.isSigned.isVerifiedUnmatched.message {
  border-top: 1px solid var(--color-warning-border);
}

.repository .ui.attached.isSigned.isVerifiedUntrusted.message,
.repository .ui.attached.isSigned.isVerifiedUnmatched.message {
  box-shadow: none;
  background-color: var(--color-warning-bg);
  color: var(--color-warning-text);
}

.repository .ui.attached.isSigned.isVerifiedUntrusted.message .ui.text,
.repository .ui.attached.isSigned.isVerifiedUnmatched.message .ui.text {
  color: var(--color-warning-text);
}

.repository .ui.attached.isSigned.isVerifiedUntrusted:last-child,
.repository .ui.attached.isSigned.isVerifiedUnmatched:last-child,
.repository .ui.attached.isSigned.isVerifiedUntrusted.bottom,
.repository .ui.attached.isSigned.isVerifiedUnmatched.bottom {
  border-bottom: 1px solid var(--color-warning-border);
}

.repository .ui.segment.sub-menu {
  padding: 7px;
  line-height: 0;
}

.repository .ui.segment.sub-menu .list {
  width: 100%;
  display: flex;
  align-items: center;
}

.repository .ui.segment.sub-menu .list .item {
  width: 100%;
  color: var(--color-text);
}

.repository .ui.segment.sub-menu .list .item:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding-left: 0.25rem;
}

.repository .ui.segment.sub-menu .list .item:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-right: 0.25rem;
}

.repository .ui.segment.sub-menu .list .item a {
  color: var(--color-text);
}

.repository .ui.segment.sub-menu .list .item a:hover {
  color: var(--color-primary-light-2);
}

.repository .ui.segment.sub-menu .list .item.active {
  background: var(--color-secondary);
}

.repository .segment.reactions.dropdown .menu,
.repository .select-reaction.dropdown .menu {
  right: 0 !important;
  left: auto !important;
  min-width: 15em;
}

.repository .segment.reactions.dropdown .menu > .header,
.repository .select-reaction.dropdown .menu > .header {
  margin: 0.75rem 0 0.5rem;
}

.repository .segment.reactions.dropdown .menu > .item,
.repository .select-reaction.dropdown .menu > .item {
  float: left;
  padding: 0.25rem !important;
  margin: 0.25rem;
  font-size: 1.5em;
  width: 39px;
  left: 13px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repository .segment.reactions.dropdown .menu > .item img.emoji,
.repository .select-reaction.dropdown .menu > .item img.emoji {
  margin-right: 0;
}

.repository .segment.reactions.dropdown .menu > .item:hover,
.repository .select-reaction.dropdown .menu > .item:hover {
  background: var(--color-primary);
}

.repository .segment.reactions {
  padding: 0;
  display: flex;
  border: none !important;
  border-top: 1px solid var(--color-secondary) !important;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.repository .segment.reactions .ui.label {
  max-height: 40px;
  padding: 10px 18px !important;
  display: flex !important;
  align-items: center;
  border: 0;
  border-right: 1px solid;
  border-radius: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  border-color: var(--color-secondary) !important;
  background: var(--color-reaction-bg);
}

.repository .segment.reactions .ui.label.disabled {
  cursor: default;
  opacity: 1;
}

.repository .segment.reactions .ui.label.basic {
  color: var(--color-primary) !important;
}

.repository .segment.reactions .ui.label.basic.primary {
  background-color: var(--color-reaction-active-bg) !important;
  border-color: var(--color-secondary) !important;
}

.repository .segment.reactions .reaction-count {
  margin-left: 0.5rem;
}

.repository .segment.reactions .select-reaction {
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.repository .segment.reactions .select-reaction:not(.active) a {
  display: none;
}

.repository .segment.reactions:hover .select-reaction a {
  display: block;
}

.repository .ui.fluid.action.input .ui.search.action.input {
  flex: auto;
}

.repository .repository-summary {
  box-shadow: none !important;
}

.repository .repository-summary .segment.language-stats-details,
.repository .repository-summary .segment.repository-summary {
  border-top: none;
  background: none;
}

.repository .repository-summary .segment.language-stats-details .item {
  white-space: nowrap;
}

.repository .repository-summary .segment.language-stats {
  padding: 0;
  height: 11px;
  display: flex;
  white-space: nowrap;
  width: 100%;
  border-radius: 0;
}

@media (max-width: 767px) {
  .repository .repository-summary .segment.language-stats {
    display: none;
  }
}

.repository .repository-summary .segment.language-stats .bar {
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

.repository .repository-menu {
  padding: 0 !important;
}

.repository .repository-menu .item {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

#cite-repo-modal #citation-panel {
  width: 500px;
}

@media (max-width: 767px) {
  #cite-repo-modal #citation-panel {
    width: 100%;
  }
}

#cite-repo-modal #citation-panel input {
  border-radius: 0;
  padding: 5px 10px;
  width: 50%;
  line-height: 1.4;
}

#cite-repo-modal #citation-panel .citation.button {
  font-size: 13px;
  padding: 7.5px 5px;
}

#cite-repo-modal #citation-panel #citation-copy-content {
  border-radius: 0;
  padding: 5px 10px;
  font-size: 1.2em;
  line-height: 1.4;
}

#cite-repo-modal #citation-panel #citation-copy-apa,
#cite-repo-modal #citation-panel #citation-copy-bibtex {
  border-right: none;
}

#cite-repo-modal #citation-panel #goto-citation-btn {
  border-left: none;
}

#cite-repo-modal #citation-panel > :first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

#cite-repo-modal #citation-panel > :last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

#cite-repo-modal #citation-panel .icon.button {
  padding: 0 10px;
}

.user-cards .list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-cards .list .item {
  list-style: none;
  width: 32%;
  margin: 10px 10px 10px 0;
  padding-bottom: 14px;
  float: left;
}

.user-cards .list .item .avatar {
  width: 48px;
  height: 48px;
  float: left;
  display: block;
  margin-right: 10px;
}

.user-cards .list .item .name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.user-cards .list .item .meta {
  margin-top: 5px;
}

#search-repo-box .results .result img,
#search-user-box .results .result img {
  float: left;
  margin-right: 8px;
  width: 2em;
  height: 2em;
}

#search-repo-box .results .result .content,
#search-user-box .results .result .content {
  margin: 6px 0;
}

#search-team-box .results .result .content {
  margin: 6px 0;
}

.ui.menu .item > img:not(.ui) {
  width: auto;
}

.page.buttons {
  padding-top: 15px;
}

.commit-header-row {
  min-height: 50px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.settings .content > .header,
.settings .content .segment {
  box-shadow: 0 1px 2px 0 var(--color-box-header);
}

.settings.webhooks .list > .item:not(:first-child),
.settings.githooks .list > .item:not(:first-child),
.settings.actions .list > .item:not(:first-child) {
  padding: 0.25rem 1rem;
  margin: 12px -1rem -1rem;
}

.settings .list > .item:not(:first-child) {
  border-top: 1px solid var(--color-secondary);
  padding: 1rem;
  margin: 16px -1rem -1rem;
}

.settings .list > .item > .svg {
  display: table-cell;
}

.settings .list > .item > .svg + .content {
  display: table-cell;
  padding: 0 0 0 0.5em;
  vertical-align: top;
}

.settings .list > .item .info {
  margin-top: 10px;
}

.settings .list > .item .info .tab.segment {
  border: 0;
  padding: 10px 0 0;
}

.settings .list.key .meta {
  padding-top: 5px;
  color: var(--color-text-light-2);
}

.settings .list.email > .item:not(:first-child) {
  min-height: 60px;
}

.settings .list.collaborator > .item {
  padding: 0;
}

.ui.vertical.menu .header.item {
  font-size: 1.1em;
  background: var(--color-box-header);
}

.comment:target .comment-container {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 0 3px var(--color-primary-alpha-30) !important;
}

.comment:target .header::before {
  border-right-color: var(--color-primary) !important;
  filter: drop-shadow(-3px 0 0 var(--color-primary-alpha-30)) !important;
}

.code-comment:target,
.diff-file-box:target {
  border-color: var(--color-primary) !important;
  border-radius: var(--border-radius) !important;
  box-shadow: 0 0 0 3px var(--color-primary-alpha-30) !important;
}

.code-comment:target .content {
  box-shadow: none !important;
}

.comment-header {
  border: none !important;
  background: var(--color-box-header);
  border-bottom: 1px solid var(--color-secondary) !important;
  font-weight: normal !important;
  padding: 0.5rem 1rem;
  margin: 0 !important;
  position: relative;
  color: var(--color-text-light-2);
  min-height: 41px;
  background-color: var(--color-box-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header::before,
.comment-header::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.comment-header::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

.comment-header::after {
  border-right-color: var(--color-box-header);
  border-width: 8px;
  margin-top: -8px;
}

.comment-header.arrow-top::before,
.comment-header.arrow-top::after {
  transform: rotate(90deg);
}

.comment-header.arrow-top::before {
  top: -9px;
  left: 6px;
}

.comment-header.arrow-top::after {
  top: -8px;
  left: 7px;
}

.comment-header a {
  color: var(--color-text);
}

.comment-header a:hover {
  color: var(--color-primary);
}

.comment-header .actions a {
  margin-right: 0 !important;
  padding: 0.5rem !important;
}

.comment-header-left > * + *,
.comment-header-right > * + * {
  margin-left: 0.25rem;
}

.comment-body {
  background: var(--color-box-body);
  border: none !important;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 1em;
}

.comment-body .markup {
  border-radius: 0 0 var(--border-radius) var(--border-radius); /* don't render outside box */
}

.edit-label.modal .form .column,
.new-label.modal .form .column {
  padding-right: 0;
}

.edit-label.modal .form .buttons,
.new-label.modal .form .buttons {
  margin-left: auto;
  padding-top: 15px;
}

.edit-label.modal .form .color.picker.column,
.new-label.modal .form .color.picker.column {
  display: flex;
}

.edit-label.modal .form .color.picker.column .minicolors,
.new-label.modal .form .color.picker.column .minicolors {
  flex: 1;
}

.edit-label.modal .form .minicolors-swatch.minicolors-sprite,
.new-label.modal .form .minicolors-swatch.minicolors-sprite {
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
}

#avatar-arrow::before,
#avatar-arrow::after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#avatar-arrow::before {
  border-right-color: var(--color-secondary);
  border-width: 9px;
  margin-top: -9px;
}

#avatar-arrow::after {
  border-right-color: var(--color-box-header);
  border-width: 8px;
  margin-top: -8px;
}

#transfer-repo-modal .ui.message,
#delete-repo-modal .ui.message,
#delete-wiki-modal .ui.message,
#convert-fork-repo-modal .ui.message,
#convert-mirror-repo-modal .ui.message,
#fork-repo-modal .ui.message {
  width: 100% !important;
}

.tab-size-1 {
  tab-size: 1 !important;
  -moz-tab-size: 1 !important;
}

.tab-size-2 {
  tab-size: 2 !important;
  -moz-tab-size: 2 !important;
}

.tab-size-3 {
  tab-size: 3 !important;
  -moz-tab-size: 3 !important;
}

.tab-size-4 {
  tab-size: 4 !important;
  -moz-tab-size: 4 !important;
}

.tab-size-5 {
  tab-size: 5 !important;
  -moz-tab-size: 5 !important;
}

.tab-size-6 {
  tab-size: 6 !important;
  -moz-tab-size: 6 !important;
}

.tab-size-7 {
  tab-size: 7 !important;
  -moz-tab-size: 7 !important;
}

.tab-size-8 {
  tab-size: 8 !important;
  -moz-tab-size: 8 !important;
}

.tab-size-9 {
  tab-size: 9 !important;
  -moz-tab-size: 9 !important;
}

.tab-size-10 {
  tab-size: 10 !important;
  -moz-tab-size: 10 !important;
}

.tab-size-11 {
  tab-size: 11 !important;
  -moz-tab-size: 11 !important;
}

.tab-size-12 {
  tab-size: 12 !important;
  -moz-tab-size: 12 !important;
}

.tab-size-13 {
  tab-size: 13 !important;
  -moz-tab-size: 13 !important;
}

.tab-size-14 {
  tab-size: 14 !important;
  -moz-tab-size: 14 !important;
}

.tab-size-15 {
  tab-size: 15 !important;
  -moz-tab-size: 15 !important;
}

.tab-size-16 {
  tab-size: 16 !important;
  -moz-tab-size: 16 !important;
}

.stats-table {
  display: table;
  width: 100%;
}

.stats-table .table-cell {
  display: table-cell;
}

.stats-table .table-cell.tiny {
  height: 0.5em;
}

.labels-list .label {
  margin: 2px 0;
  display: inline-flex !important;
  line-height: 1.3em; /* there is a `font-size: 1.25em` for inside emoji, so here the line-height needs to be larger slightly */
}

/* Scoped labels with different colors on left and right */
.scope-parent {
  background: none !important;
  padding: 0 !important;
}

.ui.label.scope-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.ui.label.scope-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.repo-button-row {
  margin-bottom: 10px;
}

.repo-button-row > * {
  margin-top: 8px;
}

.wiki .repo-button-row {
  margin-bottom: 0;
}

.wiki .repo-button-row > * {
  margin-top: 0;
}

.repo-button-row .button {
  padding: 6px 10px !important;
  height: 30px;
}

.repo-button-row input {
  height: 30px;
}

tbody.commit-list {
  vertical-align: baseline;
}

.message-wrapper,
.author-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 50px);
  display: inline-block;
  vertical-align: middle;
}

.author-wrapper {
  max-width: 180px;
}

/* in the commit list, messages can wrap so we can use inline */
.commit-list .message-wrapper {
  display: inline;
}

/* but in the repo-files-table we cannot */
#repo-files-table .commit-list .message-wrapper {
  display: inline-block;
}

@media (max-width: 767px) {
  tr.commit-list {
    width: 100%;
  }
  th .message-wrapper {
    display: block;
    max-width: calc(100vw - 70px);
  }
  .author-wrapper {
    max-width: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  tr.commit-list {
    width: 723px;
  }
  th .message-wrapper {
    max-width: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  tr.commit-list {
    width: 933px;
  }
  th .message-wrapper {
    max-width: 350px;
  }
}

@media (min-width: 1201px) {
  tr.commit-list {
    width: 1127px;
  }
  th .message-wrapper {
    max-width: 525px;
  }
}

.commit-list .commit-status-link {
  display: inline-block;
  vertical-align: middle;
}

.commit-body {
  white-space: pre-wrap;
  line-height: initial;
}

/* commit history list */
.repository:not(.diff) .commit-body {
  margin: 0;
}

/* PR-comment */
.repository:not(.diff) .timeline-item .commit-body {
  margin-left: 40px;
}

.git-notes.top {
  text-align: left;
}

.comment-diff-data {
  background: var(--color-code-bg);
  max-height: calc(100vh - 10.5rem);
  overflow-y: auto;
}

.comment-diff-data pre {
  line-height: 18px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
}

.content-history-detail-dialog .header .avatar {
  position: relative;
  top: -2px;
}

#repo-topics .repo-topic {
  font-weight: normal;
  cursor: pointer;
  margin: 2px;
}

#new-dependency-drop-list.ui.selection.dropdown {
  min-width: 0;
  width: 100%;
  border-radius: 4px 0 0 4px;
  border-right: 0;
  white-space: nowrap;
}

#new-dependency-drop-list .text {
  width: 100%;
  overflow: hidden;
}

.repo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-word;
}

@media (max-width: 767px) {
  .repo-header + .container {
    margin-top: 7px;
  }
}

.repo-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: keep-all;
}

@media (max-width: 767px) {
  .repo-buttons {
    margin-top: 1em;
  }
}

.repo-buttons .ui.labeled.button > .label:hover {
  color: var(--color-primary-light-2);
  background: var(--color-light);
}

.repo-buttons button[disabled] ~ .label {
  opacity: var(--opacity-disabled);
  color: var(--color-text-dark);
  background: var(--color-light-mimic-enabled) !important;
}

.repo-buttons button[disabled] ~ .label:hover {
  color: var(--color-primary-dark-1);
}

.repo-buttons .ui.labeled.button {
  cursor: initial;
}

.repo-buttons .ui.labeled.button > .label {
  border-left: 0 !important;
  margin: 0 !important;
}

.repo-buttons .ui.labeled.button.disabled {
  pointer-events: inherit !important;
}

.repo-buttons .ui.labeled.button.disabled > .label {
  color: var(--color-text-dark);
  background: var(--color-light-mimic-enabled) !important;
}

.repo-buttons .ui.labeled.button.disabled > .label:hover {
  color: var(--color-primary-dark-1);
}

.repo-buttons .ui.labeled.button.disabled > .button {
  pointer-events: none !important;
}

@media (max-width: 767px) {
  .repo-buttons .ui.labeled.button .svg {
    display: none;
  }
}

.tag-code {
  height: 28px;
}

.tag-code,
.tag-code td,
.tag-code .blob-excerpt {
  background-color: var(--color-box-body-highlight);
  vertical-align: middle;
}

.resolved-placeholder {
  font-weight: normal !important;
  border: 1px solid var(--color-secondary) !important;
  border-radius: var(--border-radius) !important;
  margin: 4px !important;
}

.resolved-placeholder + .comment-code-cloud {
  padding-top: 0 !important;
}

td.blob-excerpt {
  background-color: var(--color-secondary-alpha-30);
}

.issue-keyword {
  border-bottom: 1px dotted var(--color-text-light-3) !important;
}

.issue-keyword:hover {
  border-bottom: none !important;
}

.file-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 6px 12px !important;
  font-size: 13px !important;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-info-entry {
  display: flex;
  align-items: center;
  width: max-content;
}

.file-info-entry + .file-info-entry {
  border-left: 1px solid currentcolor;
  margin-left: 8px;
  padding-left: 8px;
}

#diff-container {
  display: flex;
}

#diff-file-boxes {
  flex: 1;
  max-width: 100%;
}

#diff-file-tree {
  flex: 0 0 20%;
  max-width: 380px;
  line-height: inherit;
  position: sticky;
  padding-top: 0;
  top: 47px;
  max-height: calc(100vh - 47px);
  height: 100%;
  overflow-y: auto;
}

.diff-toggle-file-tree-button {
  background: none;
  border: none;
  user-select: none;
  color: inherit;
}

.diff-toggle-file-tree-button:hover {
  color: var(--color-primary);
}

@media (max-width: 991px) {
  #diff-file-tree {
    display: none !important;
  }
  .diff-toggle-file-tree-button {
    display: none !important;
  }
}

.ui.message.unicode-escape-prompt {
  margin-bottom: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.wiki-content-sidebar .ui.message.unicode-escape-prompt p,
.wiki-content-footer .ui.message.unicode-escape-prompt p {
  display: none;
}

.wiki-content-toc ul {
  margin: 0;
  list-style: none;
  padding: 5px 0 5px 1em;
}

.wiki-content-toc ul ul {
  border-left:  1px var(--color-secondary);
  border-left-style: dashed;
}

/* fomantic's last-child selector does not work with hidden last child */
.ui.buttons .unescape-button {
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
}

.webhook-info {
  padding: 7px 12px;
  margin: 10px 0;
  background-color: var(--color-markup-code-block);
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  overflow: auto;
}

.title_wip_desc {
  margin-top: 1em;
}

.sidebar-item-link {
  align-items: center;
  word-break: break-all;
}

.diff-file-box[data-folded="true"] .diff-file-body {
  display: none;
}

.diff-file-box[data-folded="true"] .diff-file-header {
  border-radius: var(--border-radius) !important;
}

.diff-file-header-actions > * + * {
  margin-left: 0.5rem !important;
}

.ui.attached.header.diff-file-header.sticky-2nd-row {
  position: sticky;
  top: 47px; /* match .repository .diff-detail-box */
  z-index: 7;
}

@media (max-width: 991px) {
  .ui.attached.header.diff-file-header.sticky-2nd-row {
    top: 77px; /* match .repository .diff-detail-box */
  }
}

@media (max-width: 480px) {
  .ui.attached.header.diff-file-header.sticky-2nd-row {
    position: static;
  }
}

.ui.attached.header.diff-file-header .diff-file-header-actions {
  flex-shrink: 0;
}

.ui.attached.header.diff-file-header .diff-file-name {
  flex: auto;
  min-width: 100px;
}

.diff-stats-bar {
  display: inline-block;
  background-color: var(--color-red);
  height: 12px;
  width: 40px;
}

.diff-stats-bar .diff-stats-add-bar {
  background-color: var(--color-green);
  height: 100%;
}

/* prevent page shaking on language bar click */
.repository-summary-language-stats {
  height: 48px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .repository-summary-language-stats {
    height: auto;
  }
}

.ui.form .right .ui.button {
  margin-left: 0.25em;
  margin-right: 0;
}

.removed-code {
  background: var(--color-diff-removed-word-bg);
}

.added-code {
  background: var(--color-diff-added-word-bg);
}

.code-diff-unified .del-code,
.code-diff-unified .del-code td,
.code-diff-split .del-code .lines-num-old,
.code-diff-split .del-code .lines-escape-old,
.code-diff-split .del-code .lines-type-marker-old,
.code-diff-split .del-code .lines-code-old {
  background: var(--color-diff-removed-row-bg);
  border-color: var(--color-diff-removed-row-border);
}

.code-diff-unified .add-code,
.code-diff-unified .add-code td,
.code-diff-split .add-code .lines-num-new,
.code-diff-split .add-code .lines-type-marker-new,
.code-diff-split .add-code .lines-escape-new,
.code-diff-split .add-code .lines-code-new,
.code-diff-split .del-code .add-code.lines-num-new,
.code-diff-split .del-code .add-code.lines-type-marker-new,
.code-diff-split .del-code .add-code.lines-escape-new,
.code-diff-split .del-code .add-code.lines-code-new {
  background: var(--color-diff-added-row-bg);
  border-color: var(--color-diff-added-row-border);
}

.code-diff-split .del-code .lines-num-new,
.code-diff-split .del-code .lines-type-marker-new,
.code-diff-split .del-code .lines-code-new,
.code-diff-split .del-code .lines-escape-new,
.code-diff-split .add-code .lines-num-old,
.code-diff-split .add-code .lines-escape-old,
.code-diff-split .add-code .lines-type-marker-old,
.code-diff-split .add-code .lines-code-old {
  background: var(--color-diff-inactive);
}

.code-diff-split tbody tr td:nth-child(5),
.code-diff-split tbody tr td.add-comment-right {
  border-left: 1px solid var(--color-secondary);
}

.repository .ui.menu.new-menu {
  background: none !important;
}

@media (max-width: 1200px) {
  .repository .ui.menu.new-menu::after {
    background: none !important;
  }
}

.repository.migrate .card {
  transition: all 0.1s ease-in-out;
  box-shadow: none !important;
  border: 1px solid var(--color-secondary);
  color: var(--color-text);
}

.repository.migrate .card:hover {
  transform: scale(105%);
  box-shadow: 0 0.5rem 1rem var(--color-shadow) !important;
}

@media (max-width: 767px) {
  .repository.file.list #repo-files-table .entry,
  .repository.file.list #repo-files-table .commit-list {
    align-items: center;
    display: flex !important;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .repository.file.list #repo-files-table .entry td.age,
  .repository.file.list #repo-files-table .commit-list td.age,
  .repository.file.list #repo-files-table .entry th.age,
  .repository.file.list #repo-files-table .commit-list th.age {
    margin-left: auto;
  }
  .repository.file.list #repo-files-table .entry td.message,
  .repository.file.list #repo-files-table .commit-list td.message,
  .repository.file.list #repo-files-table .entry span.commit-summary,
  .repository.file.list #repo-files-table .commit-list span.commit-summary {
    display: none !important;
  }
  .repository.view.issue .comment-list .timeline,
  .repository.view.issue .comment-list .timeline-item {
    margin-left: 0;
  }
  .repository.view.issue .comment-list .timeline::before {
    left: 14px;
  }
  .repository.view.issue .comment-list .timeline .inline-timeline-avatar {
    display: flex;
    margin-bottom: auto;
  }
  .repository.view.issue .comment-list .timeline .inline-timeline-avatar img.avatar {
    height: 24px;
    width: 24px;
  }
  .repository.view.issue .comment-list .timeline .comment-header {
    padding-left: 4px;
  }
  .repository.view.issue .comment-list .timeline .comment-header::before,
  .repository.view.issue .comment-list .timeline .comment-header::after {
    content: unset;
  }
  /* Don't show the general avatar, we show the inline avatar on mobile.
   * And don't show the role labels, there's no place for that. */
  .repository.view.issue .comment-list .timeline .timeline-avatar,
  .repository.view.issue .comment-list .timeline .comment-header-right .role-label {
    display: none;
  }
  .commit-header-row .ui.horizontal.list {
    width: 100%;
    overflow-x: auto;
    margin-top: 2px;
  }
  .commit-header-row .ui.horizontal.list .item {
    align-items: center;
    display: flex;
  }
  .commit-header-row .author {
    padding: 3px 0;
  }
  .commit-header h3 {
    flex-basis: auto !important;
    margin-bottom: 0.5rem !important;
  }
  .commits-table {
    flex-direction: column;
  }
  .commits-table .commits-table-left {
    align-items: initial !important;
    margin-bottom: 6px;
  }
  .commits-table .commits-table-right form {
    display: flex;
    flex-wrap: wrap;
  }
  .commits-table .commits-table-right form > div:nth-child(1) {
    order: 1;
  }
  .commits-table .commits-table-right form > div:nth-child(2) {
    order: 3;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .commits-table .commits-table-right form > button:nth-child(3) {
    order: 2;
    margin-left: 0.25rem;
  }
  .commit-table {
    overflow-x: auto;
  }
  .commit-table td.sha,
  .commit-table th.sha {
    display: none !important;
  }
  .commit-table .commit-list span.message-wrapper {
    max-width: none;
  }
  .commit-table .commit-list tr td:last-child {
    display: block;
    width: max-content;
  }
  .commit-table .commit-list td.author {
    display: block;
    width: calc(100% + 0.5rem);
  }
  .commit-table .commit-list .copy-commit-sha {
    display: none !important;
  }
  .comment-header {
    flex-wrap: wrap;
  }
  .comment-header .comment-header-left {
    flex-wrap: wrap;
  }
  .comment-header .comment-header-right {
    margin-left: auto;
  }
}

.branch-dropdown-button {
  max-width: 340px;
  vertical-align: bottom !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .branch-dropdown-button {
    max-width: 185px;
  }
}

@media (max-width: 767px) {
  .branch-dropdown-button {
    max-width: 165px;
  }
}

.pr-status {
  padding: 0 !important; /* To clear fomantic's padding on .ui.segment elements */
  display: flex;
  align-items: center;
}

.pr-status .commit-status {
  margin: 1em;
  flex-shrink: 0;
}

.pr-status .status-context {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pr-status .status-context > span {
  padding: 1em 0;
}

.pr-status .status-details {
  display: flex;
  padding-right: 0.5em;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .pr-status .status-details {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

.pr-status .status-details > span {
  padding-right: 0.5em; /* To match the alignment with the "required" label */
}

.search-fullname {
  color: var(--color-text-light-2);
}
